@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s;
}

.errorField {
  animation: errorEntrance 0.2s ease 0s 1 normal forwards;
}

@keyframes errorEntrance {
  0% {
    opacity: 0;
    transform: scale(0%);
  }

  50% {
    opacity: 1;
    transform: scale(120%);
  }

  100% {
    transform: scale(100%);
  }
}
